.owl-carousel.owl-theme.owl-loaded.owl-drag {
    height: 475px;
}

.owl-carousel .owl-item {
    overflow: hidden;
}

.owl-carousel .owl-item img {
    display: block;
    width: initial !important;
    height: 100%;
    transform: translateX(-10%);
}