.owl-carousel .owl-item {
    overflow: hidden;
}

.owl-carousel .owl-item img {
    display: block;
    width: initial !important;
    height: 100%;
    transform: translateX(-10%);
}

.full-banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 149px 0 0 0;
    position: relative;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
    .full-banner {
        padding: 99px 0 0 0;
    }

    .owl-carousel .owl-item img {
        width: 130% !important;
    }
}

@media (max-width: 920px) {
}

@media (max-width: 800px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 600px) {
    .full-banner {
        padding: 78px 0 0 0;
    }
}

@media (max-width: 540px) {
}

@media (max-width: 480px) {
}

@media (max-width: 424px) {
}

@media (max-width: 400px) {
}

@media (max-width: 393px) {
}

@media (max-width: 375px) {
}

@media (max-width: 360px) {
}

@media (max-width: 320px) {
}

