.owl-carousel .owl-item {
    overflow: hidden;
}

.owl-carousel .owl-item img {
    display: block;
    width: initial !important;
    height: 100%;
    transform: translateX(-10%);
}

.full-banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 149px 0 0 0;
    position: relative;
}