h1 {
    .site-logo {
        width: 190px;
        height: 50px;
        a {
            width: 100%;
            height: auto;
        }
    }
}

.login {
    line-height: 0px;
    height: 30px;
    a {
        font-weight: 500;
        
        &hover {
            color: #124f88;
        }
    }
    
}
